@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 552px;
  height: 832px;
  border-radius: 30px;
  background-color: #fff;
  margin: 0px auto;
  margin-top: calc((100vh - 832px) / 2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 64px 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  margin-bottom: 20px;
  color: #212628;
}

.first-p {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #212628;
}

form {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.form-input,
select {
  width: 100%;
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0px 54px 0px 24px;
  outline: none;
}

.Card-Number-svg {
  appearance: none;
  background-image: url("../images/card-img.svg");
  background-repeat: no-repeat;
  background-position: right 23px center;
  color: rgba(0, 0, 0, 0, 5);
}

.date-cvv,
.country-zip {
  display: flex;
  justify-content: space-between;
}

.date {
  width: 282px;
}

.cvv {
  width: 115px;
}

.zip {
  width: 115px;
}
select {
  width: 282px;
  appearance: none;
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: right 23px center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0, 5);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked::after {
  content: url("../images/checkmark.svg");
}

.p-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #e1306c;
}

.button-coupon {
  display: flex;
  justify-content: center;
  margin: 40px 0px 30px 0px;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  width: 370px;
  height: 64px;
  background: #fa963e;
  background: linear-gradient(
    90deg,
    rgba(250, 150, 62, 1) 0%,
    rgba(194, 53, 132, 1) 77%
  );
  color: #fff;
  font-weight: 700;
}

.p-discount {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.coupon {
  display: flex;
  justify-content: center;
}

.have-coupon {
  color: #e1306c;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
